 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1495px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 43px;
  background-image: none;
  margin: 0 0 0 996px;
}

.u-section-1 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1395px;
  margin-top: 7px;
  margin-bottom: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 9px;
}

.u-section-1 .u-image-1 {
  width: 46px;
  height: 46px;
  margin: 22px auto 0 17px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -46px 353px 0px 360px;
}

.u-section-1 .u-text-2 {
  font-family: ABeeZee;
  margin: -29px auto 0 75px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 0 auto 0 48px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 43px;
  background-image: none;
  margin: 27px 852px 0 121px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -35px 121px 0 auto;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 1021px;
  height: 544px;
  margin: 61px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 796px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 253px;
    margin-right: 253px;
  }

  .u-section-1 .u-image-2 {
    width: 922px;
    height: 491px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 752px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 922px;
    height: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 143px;
    margin-right: 143px;
  }

  .u-section-1 .u-image-2 {
    width: 702px;
    height: 374px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 553px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 702px;
    height: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 396px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-2 {
    width: 522px;
    height: 278px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 373px;
  }

  .u-section-1 .u-image-3 {
    width: 522px;
    height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 322px;
    height: 171px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 173px;
  }

  .u-section-1 .u-image-3 {
    width: 322px;
    height: 171px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1450px;
}

.u-section-2 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1390px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 18px 15px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0 490px;
}

.u-section-2 .u-image-1 {
  width: 1021px;
  height: 544px;
  margin: 12px auto 0 20px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 43px;
  background-image: none;
  margin: 32px 838px 0 117px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: -35px 117px 0 auto;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 354px;
  }

  .u-section-2 .u-image-1 {
    width: 904px;
    height: 482px;
    margin-left: 4px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 684px;
    margin-left: 79px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-2 .u-image-2 {
    width: 904px;
    height: 482px;
    margin-top: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 269px;
  }

  .u-section-2 .u-image-1 {
    width: 692px;
    height: 369px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 543px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 692px;
    height: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 202px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 277px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 371px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 170px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 171px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 170px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1516px;
}

.u-section-3 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1355px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 19px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0 480px;
}

.u-section-3 .u-image-1 {
  width: 1021px;
  height: 544px;
  margin: 14px auto 0 38px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 43px;
  background-image: none;
  margin: 30px 836px 0 117px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: -35px 117px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 47px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 354px;
  }

  .u-section-3 .u-image-1 {
    width: 902px;
    height: 481px;
    margin-left: 4px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 23px;
    margin-right: 682px;
    margin-left: 79px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-3 .u-image-2 {
    width: 902px;
    height: 481px;
    margin-top: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 268px;
  }

  .u-section-3 .u-image-1 {
    width: 690px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 690px;
    height: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 202px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 277px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 371px;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 170px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 171px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 170px;
  }
}




.u-section-1 .cstm-u-image-1 {
  width: 53px;
  height: 47px;
  margin: -48px 0px auto 66rem;
}
.u-section-1 .cstm-u-text-2 {
  font-family: ABeeZee;
  margin: -50px auto 0 58.5rem;
}

.u-section-1 .cstm-u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto 0 60rem;
}